body{
    background: #505050;
}
.window{
    background: #909090;
    border-radius: 0.8vw;
    box-shadow: 0.9vw 0.9vw 0.4vw black;
}
.window.title{
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 10vw;
}
.window.left{
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 17vw;
    margin-top: 1.5vw;
    width: 7vw;
    height: 20.5vw;
}
.window.main{
    float: left;
    display: inline-block;
    position: relative;
    margin-top: 1.5vw;
    margin-left: 2vw;
    width: 48vw;
    height: 27.4vw;
}
.window.right{
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 2vw;
    margin-top: 1.5vw;
    width: 7vw;
    height: 20.5vw;
}
.img{
    display: inline-block;
    /*border: 1px solid black;*/
}
.img.doft{
    position: absolute;
    top: 1.1vw;
    width: 32vw;
}
.img.lupa{
    position: absolute;
    top: 1vw;
    left: 48vw;
    width: 18vw;
}
.img.close{
    position: absolute;
    top: 8vw;
    right: 0.7vw;
    width: 1.5vw;
    margin-right: 0.1vw;
}
.img.reload{
    position: absolute;
    top: 1vw;
    right: 0.7vw;
    width: 1.5vw;
    margin-right: 1px;
}
.img.arrow{
    margin-top: 0.5vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.hand{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.eye{
    margin-top: 0.5vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.instruments{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.chat{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.main{
    display: inline-block;
    position: absolute;
    top: 0.6vw;
    bottom: 0.7vw;
    left: 0.7vw;
    right: 0.7vw;
    width: 46.6vw;
}
.img.book{
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    width: 4vw;
}
.img.towel{
    margin-top: 0.3vw;
    margin-left: 1.5vw;
    width: 4vw;
}
.brick_wall{
    background-image: url("resources/brick.jpg");
    background-position: 50% 50%;
    background-size: 1.44vw 1.2vw;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    width: 6vw;
    height: 4vw;
}