body{
    background: #505050;
}
.window{
    background: #909090;
    border-radius: 0.8vw;
    box-shadow: 0.9vw 0.9vw 0.4vw black;
}
.window.title{
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    height: 10vw;
}
.window.left{
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 17vw;
    margin-top: 1.5vw;
    width: 7vw;
    height: 20.5vw;
}
.window.main{
    float: left;
    display: inline-block;
    position: relative;
    margin-top: 1.5vw;
    margin-left: 2vw;
    width: 48vw;
    height: 27.4vw;
}
.window.right{
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 2vw;
    margin-top: 1.5vw;
    width: 7vw;
    height: 20.5vw;
}
.label{
    padding-top: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 1.8vw;
    padding-bottom: 4vw;
    position: absolute;
    background: #a8fb96;
    border-radius: 0.8vw;
    box-shadow: 0.9vw 0.9vw 0.4vw black;
    top: 36.5vw;
    left: 11.7vw;
}
.img{
    display: inline-block;
    /*border: 1px solid black;*/
}
.img.doft{
    position: absolute;
    top: 1.1vw;
    width: 32vw;
}
.img.lupa{
    position: absolute;
    top: 1vw;
    left: 48vw;
    width: 18vw;
}
.img.close{
    position: absolute;
    top: 8vw;
    right: 0.7vw;
    width: 1.5vw;
    margin-right: 0.1vw;
}
.img.reload{
    position: absolute;
    top: 1vw;
    right: 0.7vw;
    width: 1.5vw;
    margin-right: 1px;
}
.img.arrow{
    margin-top: 0.5vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.hand{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.eye{
    border: 3px solid red;
    margin-top: 0.5vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.instruments{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.chat{
    margin-top: 0.3vw;
    margin-left: 1.85vw;
    width: 3.3vw;
}
.img.main{
    display: inline-block;
    position: absolute;
    top: 0.6vw;
    bottom: 0.7vw;
    left: 0.7vw;
    right: 0.7vw;
    width: 46.6vw;
}
.img.book{
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    width: 4vw;
}
.img.towel{
    margin-top: 0.3vw;
    margin-left: 1.5vw;
    width: 4vw;
}
.brick_wall{
    background-image: url("resources/brick.jpg");
    background-position: 50% 50%;
    background-size: 1.44vw 1.2vw;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    width: 6vw;
    height: 4vw;
}
.text{
    font-size: 1vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.text.line{
    display: inline;
}
.text.big{
    display: inline;
    font-size: 1.7vw;
    font-family: serif;
}
.text.curse{
    font-style: italic;
}
.text.shadow{
    display: inline;
    text-shadow: 0.9vw 0.3vw 0.25vw rgba(255, 0, 0, 0.5);
}
.box{
    margin: 0;
    padding: 0;
    width: 19.7vw;
    height: 1.3vw;
}
.butt{
    font-size: 1vw;
    background: white;
    border: 1px outset lightgray;
    border-radius: 0;
    /*display: inline;*/
    /*margin: 0;*/
    /*margin-top: 0.1vw;*/
    margin-left: 0.2vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    height: 1.6vw;
    width: 5.5vw;
}
.lbl{
    height: 1.3vw;
}